html {
	font-size:16px;
}
body {
	font-family: 'Roboto Condensed', sans-serif;
	margin: 0;
}
h1,h2,h3,h4 {
	font-family: 'Germania One', Arial,sans-serif;
}

header {
	top: 0;
	background-color: #3A8DFF;
	display: flex;
	height: 120px;
	align-items: center;
	position: sticky;
	z-index: 100;
}
.lehe_nav {
	width: 12%;
}
.tagasi_nupp {
	background-color: #0056B3; 
	color: white; 
	border: none; 
	text-decoration: none; 
	
	display: flex; 
	justify-content: center; 
	align-items: center; 
	
	width: 4.5em; 
	height: 4.5em;
	
	border-radius: 10px; 
	
	font-size: 1.1em;
	margin: 1em;
}
.lehe_pealkiri {
	text-align: center; 
	color: white;
	font-size: 2.5em; 
	width: 30%;
}
.lehe_kirjeldus {
	color: white; 
	text-align: center;
	width: 58%; 
	padding: 20px;
}

.main {
    padding: 30px;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.mängu-sektsioon {
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    overflow: hidden; 
    width: 45%; 
    max-width: 400px;
    display: flex;
    flex-direction: column;
}

.mängu-nimi {
    background-color: #0056B3; 
    color: white;
    font-family: 'Germania One', Arial,sans-serif;
    padding: 15px 20px;
    font-size: 1.8em;
    text-align: center;
}

.mängu-sisu {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex-grow: 1;
}

.mängu-pilt {
    width: 100%;
    max-height: 200px;
    height: auto;
    object-fit: contain; 
    border: 3px solid #3A8DFF;
    border-radius: 5px;
    margin-bottom: 15px;
}

.mängu-kirjeldus {
    margin-bottom: 15px;
}

.mängu-link {
    display: inline-block;
    background-color: #3A8DFF; 
    color: white;
    text-decoration: none;
    padding: 10px 25px;
    border-radius: 5px;
    margin-top: auto;
    transition: background-color 0.3s;
    font-weight: bold;
}

.game-link-button:hover {
    background-color: #0056B3;
}